<%if(messageA && messageA.length){ %>
<!--  empty array aa raha tha  -->
<div class="alert alert-success alert-dismissible fade show col-6 offset-3">
  <%= messageA %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<% } %> <%if(messageE && messageE.length){ %>
<!--  empty array aa raha tha  -->
<div class="alert alert-danger alert-dismissible fade show col-6 offset-3">
  <%= messageE %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
