<nav>
      <header
        class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f5f3f0] px-10 py-3"
      >
        <div class="flex items-center gap-4 text-[#181611]">
          <div class="size-4">
            <svg
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 6H42L36 24L42 42H6L12 24L6 6Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <h2
            class="text-[#181611] text-lg font-bold leading-tight tracking-[-0.015em]"
          >
            Surplus Food Redistribution
          </h2>
        </div>
        <div class="flex flex-1 justify-end gap-8">
          <div class="flex items-center gap-9">
            <a
              class="text-[#181611] text-sm font-medium leading-normal"
              href="#"
              >About</a
            >
            <a
              class="text-[#181611] text-sm font-medium leading-normal"
              href="#"
              >How It Works</a
            >
            <a
              class="text-[#181611] text-sm font-medium leading-normal"
              href="#"
              >Impact</a
            >
            <a
              class="text-[#181611] text-sm font-medium leading-normal"
              href="#"
              >Get Involved</a
            >
          </div>
          <!-- <div class="flex gap-2">
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#f4c025] text-[#181611] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Donate Now</span>
            </button>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#f5f3f0] text-[#181611] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Join as Volunteer</span>
            </button>
          </div> -->
        </div>
      </header>
</nav>
