<% layout("layouts/boilerplate.ejs") %>
<div class="page" style="text-align:center; margin-top:80px;">
  <div>
    <h1>Welcome to Our Movement <%= currUser.username %> 🎉</h1>
    <p>Thank you for signing up! Let’s make a difference together.</p>
  </div>

  <div class="involved">
    <a href="/dashboard/<%= currUser._id %>">
      <button class="btn btn-outline-warning">Get Involved</button>
    </a>
  </div>
</div>
