
.custom-box {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.custom-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}
.addList{
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
}
.thanks{
   background-color: rgb(251, 233, 213);
}
.listbtn{
   width: 80vh;
   border: solid black;
   background-color: rgb(157, 242, 214);
}