.custom-box {
    background-color: #ff8177;
    background-image: linear-gradient(to top,#B1F0F7 0%,#437bcf 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.custom-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}